<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia | Music</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
</head>

<body class="music">
    <header class="header__horizontal">
        <nav class="header__horizontal--menu">
            <ul>
                <li><a href="/">| home</a></li>
                <li><a href="/about">| about</a></li>
                <li><a href="/music">| music</a></li>
                <li><a href="/contact">| contact |</a></li>
            </ul>
        </nav>
        <nav class="header__horizontal--redes">
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-facebook-square"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram-square"></i></a>
        </nav>
    </header>
    <main class="music">
        <h1>music</h1>
        <section class="music__section">
            <article class="music__section__article__videos"> 
                <H2>Album Twist in my reality</H2>
                <div>
                    <img src="/images/emilia-play-list.png" alt="">
                </div>
                <ol>
                    <li><i class="fa-solid fa-play"></i>Organic Love | 02:40</li>
                    <li><i class="fa-solid fa-play"></i>Twist in My Reality | 02:10</li>
                    <li><i class="fa-solid fa-play"></i>Street Light | 03:28</li>
                    <li><i class="fa-solid fa-play"></i>Love Don´t Live Here Anymore (Cover) | 03:49</li>
                </ol>
                <p>Go Top</p>
            </article>
            <article class="music__section__article__videos">
                <h2>Video  Gorillaz - Clint Eastwood</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/1V_xRb0x9aw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>Official HD Video for Gorillaz' fantastic track Clint Eastwood.</p>
                <nav>
                    <p>Follow Gorillaz online:</p>
                    <a href="http://gorillaz.com" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    <a href="http://facebook.com/Gorillaz" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="http://twitter.com/GorillazBand" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.instagram.com/gorillaz/?hl=es" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                </nav>
                <p>Go Top</p>
            </article>
            <article class="music__section__article__videos">
                <h2>Video Canserbero - Es Épico </h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/xK8SEUzk7BU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>Video Comic Motion del tema Es Épico</p>
                <p class="esteEsPa">Hecho por: <a href="https://www.youtube.com/channel/UCaMC-r2WUWZHblqsoRdLh4g" target="_blank">Blackxis Art</a></p>
                <p>" Y no se muere quien se va, solo se muere quien se olvida".</p>
                <p>Go Top</p>
            </article>
        </section>
    </main>
</body>

</html>