body.about {
    background-image: url('/images/emilia-about.jpg');
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: right top;
}

.about__main__section{
    margin-left: 30px;
}

.about__main__section__article h2 {
    color : #6AAD9D;
    font-weight: 300;
}

.about__main__section__article p {
    color : #6AAD9D;
}